* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.navbar {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(133, 129, 143), rgb(5, 2, 7));
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1;
  align-items: center; 
  flex: 1; 
  justify-content: center; 
}

.right-menu {
  display: flex; 
  align-items: center; 
  margin-left: auto; 
}

.right-menu li {
  margin-left: 15px; 
}

.menu li a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #eaeaea; 
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;  
}

.dropdown-toggle {
  color: white;
  font-size: 16px; 
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px; 
  transition: background-color 0.3s;  
}

.dropdown-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

/* Dropdown Menu Styling */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f0eaea;
  text-align: left;
  top: 100%; 
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  padding: 5px 0; 
  z-index: 1;
  min-width: 120px; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  margin-top: 5px; 
}

.dropdown-menu li {
  padding: 8px 10px; 
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  display: block;
  width: 100%; 
  padding: 4px 8px;
  font-size: 16px; 
  transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #e0d7d7; 
}

/* Logout Styling */
.Logout {
  margin-left: 15px;
}
.Logout a {
  color: white;
  font-size: 16px;
  text-decoration: none; 
  padding: 10px 15px; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.Logout a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Responsive Menu */
@media (max-width: 1070px) {
  .checkbtn {
    display: block;
  }

  .menu {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(50vh - 80px); 
    background: rgba(10, 10, 10, 0.9);
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }

  #check:checked ~ .menu {
    left: 0;
  }

  .menu li {
    margin: 20px 0;
  }
}
